.all-payout-container{
    display: flex;
    margin-left: 10px;
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
}
.all-payout-list-header{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.all-payout-list-header-info-container{
    position: relative;
    font-size: 20px;
    color: white;
    background-color: var(--nis-color);
}
.all-payout-list-header-name{
    display: inline;  
    padding-left: 5px;             
}
.all-payout-list-header-salary{
    position: absolute;
    display: inline;    
    right: 31%; 
}
.all-payout-list-header-percentage{
    position: absolute;
    display: inline;
    right: 4%;
}
.all-payout-member-list-container{
    width: 50%;
}
.all-payout-member-list{
    height: 70vh;
    overflow: auto;
    border: 1px solid var(--nis-color);
}
.all-payout-payment-container{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.all-payout-payment-sub-container{
    position: relative;
    width: 100%;
    margin-top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border: 1px solid var(--nis-color);
}
.all-payment-delete{
    color: orangered;
    font-size: 22px;
    margin-left: 10px;
}
.all-payment-edit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: #3880ff;
    font-size: 22px;
    border-radius: 10px;
    background-color: white;
}
.all-payment-edit-inputs{
    position: absolute;
    top: 0;
    z-index: 9999;
    background-color: white;
}
.all-payment-save-button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    box-shadow: 2px 2px 4px lightgray;
    background-color: #3880ff;
}
.all-payment-name-inputs{
    width: 60%;
    height: 34px;
    border-radius: 5px;
    border: 2px solid lightgray;
    background-color: skyblue;
}
.all-payment-amount-inputs{
    width: 20%;
    height: 34px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: 2px solid lightgray;
    background-color: skyblue;
}
.all-payout-item-container{
    padding-left: 3px;
    border-bottom: 1px solid lightgray;
    background-color: rgb(248, 246, 246);
}
.all-payment-name{
    border: none;
}
.all-payment-amount{
    width: 20%;
    float: right;
    border: none;
    padding-left: 2px;
    background-color: rgb(215, 215, 236);
}
.all-payment-percentage{
    width: 20%;
    float: right;
    border: none;
    padding-left: 2px;
    background-color: rgb(212, 236, 212);
}
.all-payment-checkbox{
    position: absolute;
    right: 0;
}
.all-payout-hover:hover{
    cursor: pointer;
    background-color: lightgray;
    --ion-background-color: lightgray;
}
.all-payout-focus:focus{
    outline: none;
}
.all-payout-info{
    margin-top: -100px;
    color: red;
    font-weight: bold;
}

@media screen and (max-width:767px){
    .all-payout-container{
        display: block;
        margin-right: 10px;
    }
    .all-payout-member-list-container{
        width: 100%;
    }
    .all-payout-payment-container{
        width: 100%;
    }
}

